body {
  font-family: sans-serif;
  padding-top: 30px;
}

.fixed {
  background: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #aaa;
}

h1 {
  right: 8px;
  top: 0;
  position: absolute;
  font-size: 20px;
}

input[type='number'] {
  width: 70px;
  text-align: right;
}

label {
  font-weight: bold;
}

button {
  background: #222;
  color: white;
  font-size: 16px;
  border: 1px solid #000;
}

.step {
  margin-left: 70px;
}

span {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: inline-block;
}

.stat {
  display: inline-block;
}

.memory {
  margin-top: 20px;
}

.cell {
  width: 55px;
  font-size: 17px;
  padding-right: 3px;
  line-height: 28px;
  height: 28px;
  text-align: right;
}

.cell.selected {
  background-color: #7f7;
}
